---
layout: "post"
title: "iTunes U update lets any teacher build private courses, skipping verification"
link: "http://www.theverge.com/2012/7/25/3187012/itunes-u-update-lets-teachers-skip-verification-process"
tags: 
- "links"
date: "2012-07-25 17:52:35"
ogtype: "article"
bodyclass: "post"
---

> Along with today’s update for iTunes U, Apple has made it easier for instructors to create courses and share them with students.
> 
> As AllThingsD points out, any teacher can now sign up without going through a verification process and create and share private courses, which let students view lectures and supplementary materials.
> 
> These courses won’t show up in the iTunes U catalog, though — teachers will still need to go through a school portal to post them publicly, and their accounts will need to be verified.
> 
> The options are also slightly different for unverified teachers, who are limited to 20GB of space and 12 courses with no more than 50 students apiece.

Interesting article from The Verge on a recent update to iTunes U that will let instructors create courses easier to share with students. This will likely be most useful to teachers at smaller primary and secondary schools, which have relatively small classes and are less likely to have a central iTunes U portal. iTunes U was opened to K through 12 teachers and students earlier this year, but it’s dependent on students having iPads, ruling out its use for many…