<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>

{% comment %}
	<title>{% if page.title %}{{ page.title }}{% endif %} - {{ site.title }}</title>
	<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
{% endcomment %}
	<meta name="author" content="Roger Stringer">

	<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="/rss" />
	<link rel="alternate" type="application/rss+xml" title="{{ site.title }} with link posts pointed to {{ site.title }}" href="/rss-alternate" />

{% comment %}
	<meta property="article:author" content="604781976">
<!-- Twitter Cards -->
	<meta name="twitter:card" content="summary">
	<meta name="twitter:site" content="freekrai">
	<meta name="twitter:creator" content="freekrai">
	<meta name="twitter:title" content="{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}">
	<meta name="twitter:description" content="{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}">
	<meta name="twitter:image" content="{% if page.image %}{{ page.image }}{% else %}//rogerstringer.com/media/logo.png{% endif %}" />
<!-- Facebook Open Graph -->
	<meta property="og:type" content="{% if page.path contains '_posts' %}article{% else %}website{% endif %}">
	<meta property="og:title" content="{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}">
	<meta property="og:site_name" content="{{ site.title }}">
	<meta property="og:image" content="{% if page.image %}{{ page.image }}{% else %}//rogerstringer.com/media/logo.png{% endif %}" />
	<meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
	<meta property="og:description" content="{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}">
	<meta property="og:locale" content="en_US">
	<meta property="fb:pages" content="1416546778590314" />
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
{% endcomment %}

	<link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon" />
{% comment %}
	<script  src="/assets/jquery-2.0.3.min.js"></script>
	<script  src="/assets/bigfoot.min.js"></script>
<!--
	<script  src="/assets/social.js"></script>
-->
	<script  src="/assets/js/jquery.fitvids.js"></script>
	<script  src="https://cdn.flybase.io/flybase.js?v=20170116"></script>
	<script  src="/js/prism.js"></script>
	<script  src="/js/rs.js?20160216"></script>
{% endcomment %}
	<link rel="author" href="https://plus.google.com/110703673421158974551/posts" />
{% comment %}
	<style>
		@import url('//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css');
		@import url('/assets/css/bigfoot-default.css');
		@import url('/assets/css/grid.css');
		@import url('/assets/css/main.css?v={{ site.time | date: '%s' }}');
		@import url('/css/prism.css?v={{ site.time | date: '%s' }}');
		@import url('/css/style.css?v={{ site.time | date: '%s' }}');
	</style>
{% endcomment %}
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet" />
	<link rel="stylesheet" type="text/css"  href="/assets/css/bigfoot-default.css" />
	<link rel="stylesheet" type="text/css"  href="/assets/css/grid.css" />
	<link rel="stylesheet" type="text/css"  href="/assets/css/main.css?v={{ site.time | date: '%s' }}" />
	<link rel="stylesheet" type="text/css"  href="/css/prism.css?v={{ site.time | date: '%s' }}" />
	<link rel="stylesheet" type="text/css"  href="/css/style.css?v={{ site.time | date: '%s' }}" />
	<!-- jquery needs to go on top for other pages -->
	<script  aysnc src="/assets/jquery-2.0.3.min.js"></script>

	{% seo %}
	<meta property="fb:pages" content="1416546778590314" />
{% if page.noindex %}
	<meta name="robots" content="noindex, follow"/>
{% endif %}
{% if paginator.page > 1 %}
	<meta name="robots" content="noindex, follow"/>
{% endif %}

</head>
<body class="{% if page.bodyclass %}{{ page.bodyclass }}{% endif %}">
<div class="page-wrap">
	<div id="mastheadbackground">&nbsp;</div>
	<section id="posts">
		<div id="masthead">
			<h1><a href="/">Roger Stringer</a>
			<span id="tinyabout" class="fa_normal">&nbsp;&nbsp;<a href="#" id="tinyhref">About &#x25BE;</a></span></h1>
			<div id="fullabout" class="fa_normal">
				<p id="description">
I'm <a href="/about">Roger Stringer</a>, a <a href="/devops">DevOps</a> engineer, <a href="/code">developer</a>, <a href="/writing">author</a>, <a href="/food">foodie</a>, speaker, dad. Founder of <a href="//flybase.io">Flybase</a>.
				</p>
				<nav>
					<a href="/about">About</a> &#9670;
{% comment %}
					<a href="/speaking">Speaking</a> &#9670;
					<a href="/support">Reader Support</a> &#9670;
{% endcomment %}
					<a href="/contact">Contact</a>
				</nav>
			</div>
			<div id="navbox" class="fa_normal">
<script async type="text/javascript" src="//cdn.carbonads.com/carbon.js?zoneid=1698&serve=CVYD42E&placement=rogerstringercom" id="_carbonads_js"></script>
			</div>
		</div>
		<div id="main">
{{ content }}
		</div> <!-- // main -->
	</section>
</div>
<footer class="site-footer">
	<div class="above-footer">
		<div class="grid">
			<div class="row">
				<div class="col1-5 clearfix">
					<p>Follow RogerStringer.com posts: <a href="https://twitter.com/rogerstringer_">Twitter</a>, <a href="/rss">RSS feed</a>, or the <a href="/rss-alternate">alternate RSS feed</a> in which link posts always point here first instead of their targets.
					</p>
					<p><a href="https://twitter.com/freekrai">Follow @freekrai on Twitter</a> if you’d like.</p>
					<hr class="soften" />
					<h3>Topics of Interest</h3>
					<p>
						<a href="/tags/links">Links</a>, <a href="/tags/code">Code</a>, <a href="/tags/food">Food</a>, <a href="/tags/reviews">Reviews</a>, <a href="/tags/articles">Articles</a>
{% comment %}
						, <a href="/reading">The Bookshelf</a>
{% endcomment %}
					</p>
					<hr class="soften" />
					<h3>Links</h3>
					<p>
						<a href="/about">About</a>,
{% comment %}
						<a href="/speaking">Speaking</a>,
						<a href="/support">Reader Support</a>,
						<a href="//devops.freekrai.net" target="_blank">DevOps</a>,
{% endcomment %}
						<a href="/writing">Writing</a>,
						<a href="/contact">Contact</a>,
						<a href="//flybase.io" target="_blank">Flybase</a>,
						<a href="//weberemote.com" target="_blank">We Be Remote!</a>
						<a href="//archived.rogerstringer.com" target="_blank">The Archives</a>
					</p>
					<br />
				</div>
				<div class="col7-12 offset1" style="text-align:left;">
					<nav id="socialnav">
						<a href="https://twitter.com/freekrai" title="Twitter"><i class="fa fa-twitter"></i></a>&nbsp;&nbsp;
						<a href="https://www.google.com/+RogerStringer" title="Google+"><i class="fa fa-google-plus"></i></a>&nbsp;&nbsp;
						<a href="https://github.com/freekrai" title="Github"><i class="fa fa-github"></i></a>&nbsp;&nbsp;
						<a href="//instagram.com/freekrai" title="InstaGram"><i class="fa fa-instagram"></i></a>&nbsp;&nbsp;
						<a href="//ca.linkedin.com/in/rogerstringer" title="LinkedIn"><i class="fa fa-linkedin"></i></a>&nbsp;&nbsp;
						<a href="/support" title="Buy Me A Cup Of Coffee"><i class="fa fa-coffee"></i></a>&nbsp;&nbsp;
						<a href="/rss" class=""><i class="fa fa-rss"></i></a>
					</nav>
					<hr class="soften" />

					<form id="SiteSearch" action="/search" method="get" style="margin-bottom: 2.5em;">
					<div style="width: 100%;text-align:left;">
						<input name="s" type="text" value="" placeholder="search here &hellip;" style="">
						<button type="submit" class="button">&#xf002;</button>
					</div>
					</form>
{% comment %}
<h3>Latest <a href="//www.twitter.com/freekrai">Tweet</a></h3>
<a class="twitter-timeline" href="https://twitter.com/freekrai" data-widget-id="400363963352748033" data-chrome="noheader nofooter noborders noscrollbar transparent" data-tweet-limit="1">Tweets by @freekrai</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
{% endcomment %}
				</div>
			</div>
		</div>
	</div>
	<div class="footer">
		<div class="grid">
			<div class="row">
				<div class="col1-5 clearfix">
					Copyright © 2003-{{ site.time | date: '%Y' }} Roger Stringer (1059105 B.C. LTD)
				</div>
				<div class="col7-12 offset1" style="text-align:right;">
{% comment %}
<nav id="socialnav">
	<a href="https://twitter.com/freekrai" title="Twitter"><i class="fa fa-twitter"></i></a>&nbsp;&nbsp;
	<a href="https://www.google.com/+RogerStringer" title="Google+"><i class="fa fa-google-plus"></i></a>&nbsp;&nbsp;
	<a href="https://github.com/freekrai" title="Github"><i class="fa fa-github"></i></a>&nbsp;&nbsp;
	<a href="//instagram.com/freekrai" title="InstaGram"><i class="fa fa-instagram"></i></a>&nbsp;&nbsp;
	<a href="//ca.linkedin.com/in/rogerstringer" title="LinkedIn"><i class="fa fa-linkedin"></i></a>&nbsp;&nbsp;
	<a href="/support" title="Buy Me A Cup Of Coffee"><i class="fa fa-coffee"></i></a>&nbsp;&nbsp;
	<a href="/rss" class=""><i class="fa fa-rss"></i></a>
</nav>
{% endcomment %}
				</div>
			</div>
		</div>
	</div>
</footer>
<script  src="/assets/bigfoot.min.js"></script>
<!--
<script  src="/assets/social.js"></script>
-->
<script  src="/assets/js/jquery.fitvids.js"></script>
<script  src="https://cdn.flybase.io/flybase.js?v={{ site.time | date: '%s' }}"></script>
<script  src="/js/prism.js"></script>
<script  src="/js/rs.js?v={{ site.time | date: '%s' }}"></script>
<script  src="/js/analytics.js?v={{ site.time | date: '%s' }}"></script>
<script>
	$( document ).ready(function() {
		ga('create', 'UA-126274-13', 'rogerstringer.com');
		var pixelRatio = (window.devicePixelRatio >= 1.5) ? "HiDPI" : "1X";
		if (window.devicePixelRatio){
			ga('set', 'dimension1', pixelRatio );
		}
		ga('send', 'pageview');
	});
</script>
</body>
</html>
